#home {
  background-color: azure;
  font-family: 'Noto Sans Mono', monospace;
  color: black;
}

.navbar{
  background-color: rgba(36, 36, 36, 0.5);
  border-bottom: 1px solid black;
}

.jumbotron {
  padding-top: 21rem;
  color: white;
  background-image: url(img/bg1.jpg);
  background-position: center;
  background-size: cover;
}

#project {
  color: black;
  background-image: url(img/bg1.jpg);
  padding-bottom: 70px;
}

section {
  padding-top: 6rem;
}

#about .container p {
  font-size: 16px;
}

#about a {
  text-decoration: none;
  font-weight: bold;
}

.bgcostum {
  /* background-color: rgba(0, 0, 0, 0.5); */
  background-color: rgba(36, 36, 36, 0.5);
  border: 1px solid black;
}

footer {
  /* background-image: url(/img/bg1.jpg);
  background-size: cover;
  background-position: center; */
  background-color: black;
}
